.product {

  .color-icon {
    display: none;
  }

  &:hover {
    border-color: #aa9b77;

    .color-icon {
      display: block;
    }
  }
    
  width: 300px;
  height: 370px;
  background-color: #f5f6f7;
  border: 4px solid transparent;
  margin: 10px 0;

  &__title {
    height: 20px;
    display: flex;
    justify-content: space-between;
    padding: 25px;

    &__colors {
      display: flex;
      justify-content: space-between;

    }
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    &__name {
      color: #aa9b77;
    }
    &__avatar {
      
      &__img {
        width: 280px;
        height: 240px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;

  }

}

